<h1>Stuff Finder!</h1>
<p>The place where you can discuss your favorite shows!</p>
<%= link_to "Create a new archives!", new_archive_path %>
<section>
  <% @categories.each do |category| %>
    <article>
      <section>
        <%= link_to category.name, category %>
        <header>
          <% category.recent_archives.each do |archives| %>
          </header>
          <article>
            <%= link_to "#{truncate(archive.category)} - #{archive.title} - #{archive.location} - #{archive.link} - #{archive.description}", archive %>
          </article>
        <% end %>
      </section>
    </article>
  <% end %>
</section>


